@model IEnumerable<NandaYudhaP_004_UASPAW.Models.RekapKeuntungan>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TotalPemasukan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Laba)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bulan)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPemasukan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Laba)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bulan)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdRekap">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdRekap">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdRekap">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
